body{
  background-color: #fdf6fc;
}

#comics-main {
    align-items: center;
    justify-content: center;
}

.bienvenida {
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 30px;
}

.bienvenida *{
  margin: auto;
  text-align: center;
  color: #3f1336;
  font-size: 16px;
}

.bienvenida h1 {
  font-size: 40px;
}

.layout {
  width: 80%;
  margin: auto;
  margin-top: 50px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.comic-card {
    border: solid #ecbbe7 2px;  
    width: 498px;
    height: auto;
    border-radius: 20px;
    background-color: #f5d9f4;
    color: #3f1336;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.portada {
  width: 494px;
  height: auto;
  border-radius: 17px 17px 0px 0px;
  border-bottom: solid #ecbbe7 2px;
  background-color: white;
}

.titulo {
  font-size: 30px;
  padding: 0px 15px 0px 15px;
}

.descripcion {
  font-size: 15px;
  padding: 0px 15px 20px 15px;
}