h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

.layout {
  color: #3f1336;
  background-color: #fdf6fc;
  border: solid 2px #ecbbe7;
  padding: 20px;
  border-radius: 50px;
  height: 90%;
  width: 70%;
  min-width: 1152px;
  min-height: 728px;

  display: grid;
  grid:
    "header header header header header" 2rem
    "img img tit tit tit" auto
    "img img desc desc desc" 1fr
    "img img desc desc desc" 1fr
    "img img tag tag tag" auto
    "img img link link link" 1fr
    "img img des des des" 1fr
    / 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.header-modal {
  grid-area: header;
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}
.header-modal img {
  width: 1.2rem;
  height: 1.2rem;
}
.img {
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: solid #ecbbe7 2px;
}

.tit {
  grid-area: tit;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 1.5rem;
  overflow-wrap: normal;
}
.desc {
  grid-area: desc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
h2 {
  font-size: 2rem;
}
.desc p {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-left: 1rem;
}
.tag {
  grid-area: tag;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.etiquetas-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 10px;
  margin-left: 1rem;
}
.etiqueta {
  font-size: 1.2rem;
  display: inline-block;
  padding: 2px 6px;
  border: solid 1px #3f1336;
  border-radius: 9999px;
  background-color: #cd68c0;
  color: #faedfa;
}

.link {
  grid-area: link;
  padding: 1rem;
}
.otros-recursos {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 10px;
  font-size: 1rem;
  gap: 5px;
}

.des {
  grid-area: des;
  display: flex;
  align-items: center;
  justify-content: center;
}
.descargas {
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  padding: 8px 16px;
  border-top: 2.5px solid #3f1336;
  border-left: 2.5px solid #3f1336;
  border-bottom: 5px solid #3f1336;
  border-right: 5px solid #3f1336;
  border-radius: 9999px;
  background-color: #cd68c0;
  color: #faedfa;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
}
