* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/* hr {
    border: 1px solid #ecbbe7;
} */

.index-header {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /*background-color: #3b163b;
    color: white;*/
}

.logo {
  margin-right: 1rem;
  width: 15vh;
}

.titulo {
  margin-right: auto;
  padding-left: 2rem;
}

.idioma {
  display: flex;
}

.idioma span {
  padding: 0.15rem;
}

.idioma span:hover {
  cursor: pointer;
}

.idioma p {
  padding: 0.1rem;
}

.index-main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  /* background-color: #632c58;
    color: white; */
}

/* .index-main div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: auto;
  height: 80vh;
} */

/* .menu {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  min-width: 940px;
}

.menu article {
  height: 150px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0.5rem;
}

.menu article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.menu article a:hover {
  animation: shake 0.5s;
}

.menu article img {
  width: auto;
  height: 150px;
  margin: auto;
}

.menu article p {
  margin: auto;
}

.btn-cambiar {
  display: flex;
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.btn-cambiar article {
  padding-left: 1rem;
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
} */

.menu {
  width: 50%;
  display: grid;
  grid:
    "art-comic art-videos btn-cambiar" auto
    "art-podcast art-portafolio btn-cambiar" auto
    / auto auto auto;
  gap: 10px;
  min-width: 950px;
  min-height: 568px;
  margin-top: 40px;
}

.img-menu {
  height: 65%;
}

.menu article a {
  text-decoration: none;
  font-size: 20px;
}

.menu article a p {
  text-align: center;
}

.art-comic {
  grid-area: art-comic;
}
.art-videos {
  grid-area: art-videos;
}
.btn-cambiar {
  grid-area: btn-cambiar;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
.art-podcast {
  grid-area: art-podcast;
}
.art-portafolio {
  grid-area: art-portafolio;
}

#img-foco-cambiar {
  width: 55%;
}

#img-click-me {
  width: 25%;
  animation: pulse 1.2s infinite;
}

.ocultar {
  visibility: hidden;
  transition: visibility 0.08s;
}

footer {
  height: auto;
  font-size: 15px;
  /*color: white;
    background-color: #3b163b;*/
}

footer div {
  display: block;
  /* width: 70%; */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 15px;
  flex-wrap: wrap;
}

footer div p {
  margin-bottom: 10px;
  text-align: center;
}

.footer-buttons {
  display: flex;
  justify-content: center;
}

.footer-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid #fdf6fc;
  border-radius: 8px;
  background-color: #ecbbe7;
}

.footer-buttons a p {
  margin: auto;
}

.footer-buttons a img {
  width: 25px;
  padding-right: 5px;
}

.agitar {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Animación de pulsación */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.lang-selected {
  font-weight: bold;
}

@media (max-width: 800px) {
  .logo {
    margin: 0px;
  }

  .logo img {
    width: 60px;
  }

  .titulo {
    font-size: 60%;
  }

  .idioma {
    font-size: 50%;
  }

  .menu {
    width: 80%;
    grid:
      "btn-cambiar btn-cambiar" auto
      "art-comic art-videos" auto
      "art-podcast art-portafolio" auto
      / 1fr 1fr;
    min-width: auto;
    min-height: auto;
  }

  .index-main {
    height: auto;
    min-height: auto;
  }

  .btn-cambiar {
    padding-left: 0px;
  }
}
